.container {
  display: flex;
  justify-content: center;
}
.counter {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 15vw;
  margin: 2em;

  .count {
    font-size: 5em;
  }

  .unit {
  }
}
